/**
 * @format
 */

import {AppRegistry} from 'react-native';
import App from './App';
import { name as appName } from './app.json';
import { Navigation } from "react-native-navigation";
import LoginPage from './src/features/login/components/login/index'

AppRegistry.registerComponent(appName, () => App);
AppRegistry.registerComponent('login', () => LoginPage);

Navigation.events().registerAppLaunchedListener(() => {
    Navigation.setRoot({
        root: {
            component: {
                name: 'login'
            }
        },
    });
});
